.Login {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url('../../assets/signupGif.gif') no-repeat;
}

.Login .logo{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Login .logo img{
    width: 60px;
}

.Login .logo p{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: normal;
}

.Login .CenterLogin{
    width: 320px;
    margin-top: 40px;
}

.Login .logo{
    margin-bottom: 25px;
    text-align: center;
    font-size: 3rem;
}

.Login .CenterLogin .formLogin{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.Login .inputLogin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 15px;
    border: 1px solid #d8dee4;
    border-radius: 4px;
    background: var(--grey-background);
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.Login .inputLogin .password .labelPassword{
    display: flex;
    justify-content: space-between;
}

.Login .inputLogin input{
    width: 100%;
    padding: 5px 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #6a7077;
    border: 2px solid var(--grey-background);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Login .inputLogin button{
    width: 100%;
    padding:7px;
    border-radius: 6px;
    border: 2px solid var(--grey-background);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}



.Login .inputLogin input{
    margin-top: 10px;
}


.Login .inputLogin button{
    background: var(--green-color);
    color: var(--white);
    font-weight: 600;
}

.Login .inputLogin input:focus{
    border: 2px solid var(--green-color);
}

.Login .inputLogin button:active{
    border: 2px solid #7db172;
}

.Login .CenterLogin .linkCreatCount{
    margin-top: 25px;
    border: 1px solid #d8dee4;
    color: var(--white);
    padding: 18px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}