.ListESN{
    background: var(--white);
    border: 1px solid #ddd;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    position: relative;
}



.ListESN .gradiant{
    /* background: radial-gradient(circle, #4298e9 0%, rgba(216,0,81,0) 70%); */
    position: absolute;
    width: 100%;
    height: 100%;
}

.ListESN .toutESN {
    padding: 10px 15px 0px 15px;
    z-index: 1;
    color: var(--white);
}

.ListESN .toutESN h2{
    color: var(--blackP);
}

.ListESN hr{
    margin: 10px ;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background-color: var(--white);
    color: inherit;
    opacity: 0.25;
    width: 90%;
}

.ListESN .contentList{
    width: 90%;
    margin:20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    row-gap: 20px;
}

.ListESN .statut{
    width: 10px;
    height: 10px;
    background: var(--green);
    position: absolute;
    top: 0;
    right: 3px;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.ListESN .contentList .img{
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    background: var(--yellow);
    padding: 5px;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.ListESN .contentList img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ListESN .autre{
    color: var(--blackP);
    cursor: pointer;
    display: grid;
    place-content: center;
    padding: 10px;
}