*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

body{
    background: var(--grey-background);
}

.container{
    width: 95%;
    margin: auto;
}

:root{
    --green-color: #0090e7;
    --vert-claire: #A4BD01;
    --white: #fefefe;
    --grey-background: #f6f8fa;
    --border:#f8f9f9;
    --blackP: #24292f;
    --bleu-ciel:#008ee73f;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}
